{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="w-4/5">
    <h1 class="text-2xl text-center mb-10">Welcome to the learning manager</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut illum voluptatem qui dolor explicabo, aut autem! In voluptatem exercitationem quae dolorum minus nihil, quisquam laboriosam cum sequi. Iure, eos nam?
    Laborum assumenda corrupti eveniet temporibus, cumque facere quasi id voluptates sed fugit. Odit veritatis in officiis eos. Dicta deserunt autem aut adipisci quod rerum sint, quasi magnam veniam porro repellendus!
    Ullam porro laborum iusto voluptates animi vero earum veniam deleniti laudantium? Illo voluptate expedita dignissimos sunt ab nostrum modi voluptas praesentium sequi culpa rem, obcaecati minima eius unde. Odio, odit?
    Possimus magnam eligendi veritatis saepe nemo assumenda eum tempora quam dolorem beatae. Nisi cumque similique, aliquam doloribus distinctio quo atque dicta. Eius quis tempora doloribus quaerat totam delectus dolorum eveniet!</p>
</div>
{% endblock %}
