{% extends 'base.html.twig' %}

{% block title %}Hello TasksController!{% endblock %}

{% block body %}


<div class="">
    tasks create will appear in a grid layoutas small boxes, different colors for different stages
</div>
{% endblock %}
